<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gestión de Horarios</title>
    <link rel="stylesheet" href="/static/styles.css" />
  </head>
  <body>
    <h1>Bienvenido al Sistema de Gestión de Horarios</h1>

    <ul>
      <li><a href="/aulas">Gestionar Aulas</a></li>
      <li><a href="/cursos">Gestionar Cursos</a></li>
      <li><a href="/docentes">Gestionar Docentes</a></li>
      <li><a href="/turnos">Gestionar Turnos</a></li>
    </ul>
  </body>
</html>
